@{
    ViewData["Title"] = "News";
}

<h1>News</h1>
<p>Welcome to the News section. Here you will find the latest updates.</p>
<div class="container">
     <form action="/" method="post">
        <input type="type" name="name" value="" placeholder="Entrer une valeur" />    
     </form>
</div>
